@use '../../../scss/variables' as *;
@use '../../../scss/spaces' as *;
@use '../../../scss/typography' as *;
@use '../../../scss/colors' as *;
@use '../../../scss/borders' as *;
@use '../../../scss/icons' as *;
@use '../../../scss/animations' as *;

.switch {
  .checkbox::before {
    content: '';
    position: absolute;
    width: $icon-size-m;
    height: $icon-size-m;
    margin: 3px;
    transform: translate(2px, 0);
    transition: transform $timing-1s, background $timing-1s;
    border-width: $border-width-l;
    border-radius: $border-radius-full;
    border-color: hsl(var(--color-form-border-default));
    background: hsl(var(--color-button-content-primary));
  }

  .field__input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: $space-2s 0;
  }

  .field--type-checkbox {
    .field__details {
      order: 0;
      margin-right: $space-m;
      margin-left: 0;
    }

    .field__input-wrapper {
      align-items: center;
    }

    .field__label {
      font-size: $font-m;
      font-weight: $font-weight-600;
      color: hsl(var(--color-text-primary));
      margin-bottom: $space-2s;
      display: block;
    }

    .field__description {
      font-size: $font-m;
      color: hsl(var(--color-text-secondary));
      margin-top: $space-2s;
    }

    .field__input {
      position: relative;
      width: 54px;
      height: 32px;
      transition: background $timing-1s, border-color $timing-1s;
      border: 1px solid hsl(var(--color-form-border-default));
      border-radius: $border-radius-1l;
      background: hsl(var(--color-button-content-primary));
      cursor: pointer;
      flex-shrink: 0;

      &:hover:not(:disabled) {
        border-color: hsl(var(--color-form-border-hover));
      }
      
      &:active:not(:disabled) {
        // Pressed state
        .checkbox::before {
          transform: scale(0.95) translate(2px, 0);
        }
        
        &.checkbox--checked .checkbox::before {
          transform: scale(0.95) translate(22px, 0);
        }
      }
      
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
        
        background: hsl(var(--color-background-secondary));
        border-color: hsl(var(--color-disabled));
      }
    }
  }

  .checkbox__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  .checkbox__icon {
    position: absolute;
    top: 5px;
    left: 27px;
    transition: none;
    opacity: 0;
    color: hsl(var(--color-brand-primary));
  }

  .checkbox--checked {
    &.field__input {
      background: hsl(var(--color-button-background-primary));
      border: 1px solid hsl(var(--color-button-background-primary));
    }

    &::before {
      transform: translate(22px, 0);
      background: $white;
      border-color: hsl(var(--color-button-background-primary));
    }

    .checkbox__input {
      left: $space-1s;
    }

    .checkbox__icon {
      transition: opacity $timing-1s;
      transition-delay: $timing-1s;
      opacity: 1;
    }

    .checkbox__check {
      color: $white;
    }
  }

  .checkbox {
    &.checkbox--checked::before {
      border-width: $border-width;
    }
  }
  
  // Disabled state for the switch knob
  &--disabled {
    .checkbox::before {
      background: hsl(var(--color-disabled));
      border-color: hsl(var(--color-disabled));
    }
    
    .field__input {
      background: hsl(var(--color-background-secondary));
      border-color: hsl(var(--color-disabled));
    }
  }
}

.switch__input:disabled + .field__input {
  opacity: 0.5;
  cursor: not-allowed;
}
