%sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip-path: inset(0 100% 100% 0);

  border: 0;

  white-space: nowrap;
}

/*
  for accessibility we want to be able to have larger target size

  some of our input elements are smaller so we can create an invisible
  pseudo-element that is larger so that it meets the WCAG criteria for target size

  https://www.w3.org/WAI/WCAG21/Understanding/target-size.html
*/
%increase-target-size {
  $target-size: 48px;

  position: relative;

  &::before {
    content: '';

    position: absolute;
    width: 100%;
    min-width: $target-size;
    height: $target-size;

    user-select: none;
  }
}

%ellipsis {
  overflow: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;
}

%keyboard-nav-focus {
  outline: none;

  .keyboard-mode & {
    outline: solid 2px var(--color-focused);
    // Outline appears around the element
    outline-offset: 1px;
  }
}

%keyboard-nav-focus-in {
  outline: none;

  .keyboard-mode & {
    outline: solid 2px var(--color-focused);
    // Outline appears inside the element
    outline-offset: -6px;
  }
}

%no-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
