$space-3s: 2px;
$space-2s: 4px;
$space-1s: 8px;
$space-s: 12px;
$space-m: 16px;
$space-l: 20px;
$space-1l: 24px;
$space-2l: 32px;
$space-3l: 40px;
$space-4l: 48px;
$space-5l: 56px;
$space-6l: 64px;
$space-7l: 80px;
$space-8l: 100px;
$spaces: (
  2s: $space-2s,
  1s: $space-1s,
  s: $space-s,
  m: $space-m,
  l: $space-l,
  "1l": $space-1l,
  "2l": $space-2l,
  "3l": $space-3l,
  "4l": $space-4l,
  "5l": $space-5l,
  "6l": $space-6l,
  "7l": $space-7l,
  "8l": $space-8l,
);
