$line-height-1s: 1.1;
$line-height-s: 1.3;
$line-height-m: 1.4;
$line-height-l: 1.5;
$line-height-1l: 2;

$font-1s: 0.625rem; /* 10px */
$font-s: 0.75rem;   /* 12px */
$font-m: 0.875rem;  /* 14px */
$font-l: 1rem;      /* 16px */
$font-1l: 1.125rem; /* 18px */
$font-2l: 1.25rem;  /* 20px */
$font-3l: 1.5rem;   /* 24px */
$font-4l: 2.25rem;  /* 36px */
$font-5l: 3rem;     /* 48px */
$font-6l: 3.375rem; /* 54px */
$font-7l: 4.5rem;   /* 72px */

$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;

$system-font-stack: helvetica, arial, sans-serif;
$family: "Inter", $system-font-stack;
$family-brand: "Founders Grotesk", #{$family};