@use '../base/variables/borders' as *;
@use '../base/variables/typography' as *;

/*
 * What follows is the result of much research on cross-browser styling.
 * Big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, H5BP and Normalize
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  background: var(--color-background-primary);

  color: var(--color-text-primary);
  font-size: 1em;
  line-height: $line-height-m;

  text-size-adjust: 100%;
}

body {
  margin: 0;

  font-family: $family;
  font-size: $font-l;

  font-synthesis: none; // bolded text looked off in safari
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::selection {
  background: var(--color-highlighter);

  text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

a {
  border-radius: $border-radius-s;
  outline: none;

  background-color: transparent;

  color: inherit;
  text-decoration: none;
}

a:focus-visible {
  outline: solid 2px var(--color-focused);
  outline-offset: 2px;
}

address {
  font-style: inherit;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

strong {
  font-weight: bolder;
}

img {
  border-style: none;
}

// fields, forms and inputs

button,
input,
optgroup,
select,
textarea {
  margin: 0;

  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="search"] {
  appearance: textfield;

  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration,
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-results-button,
[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  overflow: auto;

  resize: vertical;
}
