@use '../base/variables/colors' as *;

/**
  * Default theme semantic color names
  */
:root,
.light {
  --color-border-glass-static: #{$c-gray-50};
  --color-brand-primary: #{$c-gray-70};
  --color-brand-secondary: #{$c-dark-green-50};
  --color-brand-featured: #{$n-grellow-100};
  --color-error: #{$n-red-600};
  --color-success: #{$c-green-50};
  --color-disabled: #{$c-gray-30};
  --color-button-background-primary: #{$c-gray-70};
  --color-button-background-primary-active: #{$c-gray-50};
  --color-button-background-primary-hover: #{$c-gray-60};
  --color-button-background-featured: #{$n-grellow-100};
  --color-button-background-featured-active: #{$n-grellow-300};
  --color-button-background-featured-hover: #{$n-grellow-200};
  --color-button-background-featured-static: #{$n-grellow-100};
  --color-button-background-secondary: #{$white};
  --color-button-background-secondary-active: #{$c-gray-40};
  --color-button-background-secondary-hover: #{$c-gray-30};
  --color-button-background-negative: #{$n-red-700};
  --color-button-background-negative-hover: #{$n-red-600};
  --color-button-background-negative-active: #{$n-red-500};
  --color-button-content-primary: #{$white};
  --color-button-content-secondary: #{$c-gray-70};
  --color-button-content-secondary-static: #{$c-gray-70};
  --color-button-content-tertiary: #{$c-green-50};
  --color-button-border: #{$c-gray-80};
  --color-button-inverse-border: #{$white};
  --color-button-background-transparent-hover: #{$transparent-gray-16};
  --color-button-background-transparent-active: #{$transparent-gray-24};
  --color-background-primary: #{$white};
  --color-background-primary-0: #{$transparent-white-0};
  --color-background-primary-decorative: #{$c-gray-10};
  --color-background-inverse-primary: #{$c-gray-90};
  --color-background-secondary: #{$c-gray-10};
  --color-background-tertiary: #{$c-gray-70};
  --color-background-quaternary: #{$c-gray-20};
  --color-background-featured: #{$n-grellow-100};
  --color-background-featured-static: #{$n-grellow-100};
  --color-background-brand-primary: #{$c-gray-70};
  --color-background-brand-secondary: #{$c-dark-green-50};
  --color-background-brand-secondary-alt: #{$c-dark-green-50};
  --color-background-elevation-1: #{$white};
  --color-background-elevation-2: #{$white};
  --color-background-glass: #{$transparent-gray-50};
  --color-highlighter: #{$transparent-grellow-32};
  --color-highlight-primary: #{$transparent-gray-16};
  --color-overlay-primary: #{$transparent-overlay};
  --color-overlay-secondary: #{$transparent-white-70};
  --color-text-primary: #{$c-gray-70};
  --color-text-inverse-primary: #{$white};
  --color-text-brand-secondary: #{$c-dark-green-50};
  --color-text-secondary: #{$c-gray-50};
  --color-text-inverse-secondary: #{$c-gray-30};
  --color-text-overline-primary: #{$c-dark-green-50};
  --color-text-overline-secondary: #{$n-yellow-200};
  --color-text-static-light: #{$white};
  --color-text-static-dark: #{$c-gray-90};
  --color-link-primary: #{$c-gray-70};
  --color-link-secondary: #{$c-gray-50};
  --color-link-inverse: #{$white};
  --color-url: #{$c-gray-70};
  --color-link-results-default: #1A0DAB;
  --color-link-results-visited: #681DA8;
  --color-link-static-light: #{$white};
  --color-link-static-dark: #{$c-gray-90};
  --color-decorative-icon: #{$c-gray-50};
  --color-icon-strong: #{$c-gray-70};
  --color-video-background: #{$black};
  --color-elevation-layer-1: #{rgba($c-gray-90, 18%)};
  --color-elevation-layer-2: #{rgba($c-gray-90, 6%)};
  --color-decorative-border-1: #{$c-gray-30};
  --color-focused: #{$c-blue-40};
  --color-form-border-default: #{$c-gray-40};
  --color-form-border-hover: #{$c-gray-50};
  --color-form-border-primary-active: #{$c-gray-70};
  --color-tripadvisor-rating: #{$tripadvisor-rating};
  --color-surface-brand-secondary: #{$c-dark-green-50};

  // icon colors
  --color-green-leaf-icon-color-top: #{$c-green-50};
  --color-green-leaf-icon-color-bottom: #{$c-green-70};
  --color-fossil-fuel-icon-color-top: #{$n-claret-600};
  --color-fossil-fuel-icon-color-bottom: #{$n-claret-700};
}

.dark {
  --color-border-glass-static: #{$c-gray-60};
  --color-brand-primary: #{$white};
  --color-brand-secondary: #{$c-dark-green-30};
  --color-error: #{$n-red-300};
  --color-success: #{$c-green-30};
  --color-disabled: #{$c-gray-60};
  --color-button-background-primary: #{$white};
  --color-button-background-primary-active: #{$c-gray-40};
  --color-button-background-primary-hover: #{$c-gray-30};
  --color-button-background-secondary: #{$c-gray-90};
  --color-button-background-secondary-active: #{$c-gray-50};
  --color-button-background-secondary-hover: #{$c-gray-70};
  --color-button-background-transparent-hover: #{$transparent-white-16};
  --color-button-background-transparent-active: #{$transparent-white-32};
  --color-button-background-negative: #{$n-red-200};
  --color-button-background-negative-hover: #{$n-red-300};
  --color-button-background-negative-active: #{$n-red-400};
  --color-button-content-primary: #{$c-gray-90};
  --color-button-content-secondary: #{$white};
  --color-button-content-tertiary: #{$c-green-30};
  --color-button-border: #{$white};
  --color-button-inverse-border: #{$c-gray-80};
  --color-background-primary: #{$c-gray-90};
  --color-background-primary-0: #{$transparent-gray-90-0};
  --color-background-primary-decorative: #{$c-gray-90};
  --color-background-inverse-primary: #{$c-gray-20};
  --color-highlight-primary: #{$transparent-white-16};
  --color-background-secondary: #{$c-gray-80};
  --color-background-tertiary: #{$c-gray-80};
  --color-background-quaternary: #{$c-gray-70};
  --color-background-featured: #{$n-grellow-700};
  --color-background-brand-primary: #{$white};
  --color-background-brand-secondary: #{$c-dark-green-30};
  --color-background-brand-secondary-alt: #{$c-gray-80};
  --color-background-elevation-1: #{$c-gray-80};
  --color-background-elevation-2: #{$c-gray-70};
  --color-overlay-secondary: #{$transparent-white-70};
  --color-text-primary: #{$white};
  --color-text-inverse-primary: #{$c-gray-90};
  --color-text-brand-secondary: #{$white};
  --color-text-secondary: #{$c-gray-30};
  --color-text-inverse-secondary: #{$c-gray-70};
  --color-text-overline-primary: #{$n-yellow-200};
  --color-link-primary: #{$white};
  --color-link-secondary: #{$c-gray-30};
  --color-link-inverse: #{$c-gray-70};
  --color-url: #{$white};
  --color-link-results-default: #99C3FF;
  --color-link-results-visited: #CA94F9;
  --color-decorative-icon: #{$white};
  --color-icon-strong: #{$white};
  --color-decorative-border-1: #{$c-gray-60};
  --color-focused: #{$c-blue-40};
  --color-form-border-default: #{$c-gray-50};
  --color-form-border-hover: #{$c-gray-40};
  --color-form-border-primary-active: #{$white};
  --color-tripadvisor-rating: #{$tripadvisor-rating-dark};
  --color-surface-brand-secondary: #{$n-dark-green-400};

  // icon colors
  --color-green-leaf-icon-color-top: #{$c-green-20};
  --color-green-leaf-icon-color-bottom: #{$c-green-30};
  --color-fossil-fuel-icon-color-top: #{$n-claret-100};
  --color-fossil-fuel-icon-color-bottom: #{$n-claret-200};
}
