// Import base variables and utilities
@import '../scss/variables';
@import '../scss/colors';

// Note: Global theme variables (--color-*) are defined in global/_themes.scss
// Make sure to import the main styles.scss file in your app entry point

.avatar {
  box-sizing: content-box;
  border-radius: 50%;
}

.avatar--signed-out-placeholder,
.avatar--signed-in-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-background-tertiary);
}

.avatar--signed-out-placeholder .icon,
.avatar--signed-in-placeholder .icon {
  width: 50%;
  height: 50%;

  color: $white;
}

