// Import base variables and utilities
@import '../scss/variables';
@import '../scss/spaces';
@import '../scss/borders';
@import '../scss/colors';
@import '../scss/elevations';
@import '../scss/mixins';
@import '../scss/screen';

// Note: Global theme variables (--color-*) are defined in global/_themes.scss
// Body scroll lock styles are in global/_no-scroll.scss
// Make sure to import the main styles.scss file in your app entry point

$widths: (
  s: 400px,
  m: 480px,
  l: 524px,
  xl: 700px,
);

$paddings: (
  s: $space-m,
  m: $space-m,
  2l: $space-2l,
  4l: $space-4l,
);

$feature-heights: (
  m: 300px,
  s: 180px,
);

.modal {
  display: flex;
  position: fixed;
  z-index: $z-index-overlay;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  transition: opacity $timing-s ease;

  opacity: 1;
  background: var(--color-overlay-primary);
}

.modal__dialog {
  @include elevation(1);

  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-height: 90vh;
  margin: 0 $space-1s;

  border-radius: $border-radius-l;

  background: var(--color-background-primary);

  @include mobile-l {
    height: auto;
    margin: initial;
  }
}

.modal--elevation-background .modal__dialog {
  background: var(--color-background-elevation-1);
}

@each $name, $width in $widths {
  .modal--size-#{$name} {
    .modal__dialog {
      width: $width;
    }
  }
}

.modal__feature {
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;

  border-top-left-radius: $border-radius-l;
  border-top-right-radius: $border-radius-l;
}

@each $size, $height in $feature-heights {
  .modal__feature--#{$size} {
    height: $height;
  }
}

.modal__close {
  display: flex;
  position: absolute;
  z-index: $z-index-l;
  top: $space-3s;
  right: $space-3s;
  flex-direction: row;
  justify-content: right;
  width: 100%;
  padding: $space-1s $space-1s 0;

  border-radius: $border-radius-l $border-radius-l 0 0;
}

.modal__header {
  width: 100%;
  padding-bottom: $space-m;
}

.modal__header--with-button {
  width: 100%;
  padding-top: $space-1l;
  padding-bottom: $space-1l;
}

.modal--scrolled .modal__header {
  @include elevation(1);
}

.dark .modal--scrolled .modal__header {
  box-shadow: inset 0 -1px 0 var(--color-decorative-border-1);
}

.modal__content {
  width: 100%;
  padding-top: $space-m;
  padding-bottom: $space-m;
  overflow-x: hidden;
  overflow-y: scroll;

  border-radius: 0 0 $border-radius-l $border-radius-l;

  @include mobile-l {
    height: 100%;
    overflow-y: auto;
  }

  @include tablet {
    padding-bottom: $space-3l;
  }
}

.modal__content--with-header {
  padding-top: 0;
}

.modal__content--with-footer {
  padding-bottom: 0;
}

.modal__footer {
  width: 100%;
  padding-top: $space-m;

  &.modal__footer--with-shadow {
    @include elevation(1-inverted);
  }
}

.dark .modal__footer--with-shadow {
  box-shadow: inset 0 1px 0 var(--color-decorative-border-1);
}

@each $name, $padding in $paddings {
  .modal--padding-#{$name} .modal__header,
  .modal--padding-#{$name} .modal__content,
  .modal--padding-#{$name} .modal__footer {
    padding-right: $space-m;
    padding-left: $space-m;

    @include desktop {
      padding-right: $padding;
      padding-left: $padding;
    }
  }

  .modal--padding-#{$name} .modal__footer {
    padding-bottom: $space-m;

    @include tablet {
      padding-bottom: $padding;
    }
  }
  .modal--padding-#{$name} .modal__header:not(.modal__header--with-button) {
    padding-top: $space-m;

    @include tablet {
      padding-top: $padding;
    }
  }
}

.modal--padding-none .modal__header,
.modal--padding-none .modal__content,
.modal--padding-none .modal__footer {
  padding: 0;
}

.modal--padding-none .modal__header--with-button {
  min-height: $space-4l;
}

.modal__no-scroll {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

