/**
 * Main styles entry point
 * Import this file once in your app to include all global styles
 */

// Global foundation styles
@import '../global/reset';
@import '../global/fonts';
@import '../global/themes';
@import '../global/animations';
@import '../global/transitions';
@import '../global/helpers';
@import '../global/layout';
@import '../global/no-scroll';

// Base SCSS variables and utilities
@import '../scss/variables';
@import '../scss/colors';
@import '../scss/typography';
@import '../scss/spaces';
@import '../scss/borders';
@import '../scss/elevations';
@import '../scss/scale';
@import '../scss/screen';
@import '../scss/mixins';
@import '../scss/placeholders';
@import '../scss/icons';
@import '../scss/stack';
@import '../scss/layout';
@import '../scss/opacity';

