// Import base variables and utilities
@import '../scss/variables';
@import '../scss/spaces';
@import '../scss/borders';
@import '../scss/colors';
@import '../scss/typography';
@import '../scss/elevations';
@import '../scss/mixins';
@import '../scss/placeholders';

// Note: Global theme variables (--color-*) are defined in global/_themes.scss
// Uses transition timing from global/_transitions.scss
// Make sure to import the main styles.scss file in your app entry point

$max-width: 280px;
$max-width-l: 315px;
$slide-offset: 5;

$sides: (
  center-top: (
    left: 50%,
    content-x: -50%,
    content-y: -100%,
    content-offset-x: -50%,
    content-offset-y: - (100 - $slide-offset),
    content-vertical-distance-property: top,
    arrow-x: -50%,
    arrow-y: 0,
    arrow-top: true,
    arrow-left: 50%,
    arrow-rotate: 0,
  ),
  center-bottom: (
    left: 50%,
    content-x: -50%,
    content-y: 100%,
    content-offset-x: -50%,
    content-offset-y: 100 - $slide-offset,
    content-vertical-distance-property: bottom,
    arrow-x: -50%,
    arrow-y: 0,
    arrow-bottom: true,
    arrow-left: 50%,
    arrow-rotate: 180deg,
  ),
  left-center: (
    top: 50%,
    content-x: -100%,
    content-y: -50%,
    content-offset-x: - (100 - ($slide-offset * 0.5)),
    content-offset-y: -50%,
    content-horizontal-distance-property: left,
    arrow-x: -25%,
    arrow-y: -50%,
    arrow-left: true,
    arrow-top: 50%,
    arrow-rotate: -90deg,
  ),
);

$sizes: (
  l: (
    padding: $space-m,
    font-size: $font-m,
    arrow-container: $space-m,
    arrow-size: 12px,
    spacing: $space-m,
  ),
  m: (
    padding: $space-m,
    font-size: $font-m,
    arrow-container: $space-m,
    arrow-size: 12px,
    spacing: $space-m,
  ),
  s: (
    padding: $space-1s,
    font-size: $font-s,
    arrow-container: $space-1s,
    arrow-size: 6px,
    spacing: $space-1s,
  )
);

.tooltip {
  display: inline-flex;
  position: relative;

  cursor: pointer;

  &:focus {
    @extend %keyboard-nav-focus;
  }
}

.tooltip__toggle {
  display: inline-flex;
  position: relative;

  &:focus {
    @extend %keyboard-nav-focus;
  }
}

.tooltip__content {
  @include elevation(2);

  position: absolute;
  z-index: $z-index-2l;
  width: max-content;
  max-width: $max-width;

  border-radius: $border-radius-l;

  background-color: var(--color-background-elevation-2);

  color: var(--color-text-primary);

  cursor: default;

  transition: opacity $timing-1s $easing, transform $timing-1s $easing;

  &:focus {
    @extend %keyboard-nav-focus;
  }
}

.tooltip__arrow {
  position: absolute;
  z-index: $z-index-3l;
  margin-top: 1px;
  overflow: hidden;

  pointer-events: none;

  transition: opacity $timing-1s $easing, transform $timing-1s $easing;

  &::after {
    @include elevation(2);

    content: "";

    position: absolute;
    top: 0;
    left: 50%;

    transform: translate(-50%, -50%) rotate(45deg);

    background-color: var(--color-background-elevation-2);
  }
}

.tooltip--color-variant-brand-secondary {
  .tooltip__arrow::after {
    background-color: var(--color-background-brand-secondary);
  }

  .tooltip__content {
    background-color: var(--color-background-brand-secondary);

    color: var(--color-text-inverse-primary);
  }
}

@each $size, $map in $sizes {
  $padding: map-get($map, padding);
  $font-size: map-get($map, font-size);
  $arrow-container: map-get($map, arrow-container);
  $arrow-size: map-get($map, arrow-size);

  .tooltip--size-#{$size} {
    .tooltip__content {
      font-size: $font-size;
    }

    .tooltip__arrow {
      width: $arrow-container * 2;
      height: $arrow-container;

      &::after {
        width: $arrow-size;
        height: $arrow-size;
      }
    }

    &.tooltip--padding {
      .tooltip__content {
        padding: $padding;
      }
    }
  }
}

.tooltip--size-l .tooltip__content {
  width: $max-width-l;
  max-width: calc(100vw - 2 * $space-m);
}

