@use '../../../scss/spaces' as *;
@use '../../../scss/borders' as *;
@use '../../../scss/animations' as *;

.accordion-item {
  border-bottom: 1px solid hsl(var(--color-decorative-border-1));
}

.accordion-item__header {
  width: 100%;
  padding: $space-m;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  text-align: left;
  transition: background-color 0.2s;

  &:hover {
    background-color: hsl(var(--color-background-secondary));
  }
}

.accordion-item__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s $easing;
}

.accordion-item__content--open {
  max-height: 1000px;
}

.accordion-item__content-inner {
  padding: $space-m;
}
