@use '../base/mixins' as *;

body {
  &.no-scroll {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  &.no-scroll--desktop-down {
    @include desktop-down {
      width: 100vw;
      height: 100vh;
      overflow: hidden;
    }
  }
}
