@use '../../../scss/spaces' as *;
@use '../../../scss/borders' as *;

.avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius-full;
  overflow: hidden;
  background-color: var(--color-background-secondary);
  color: var(--color-text-primary);
}

.avatar--size-s {
  width: $space-2l;
  height: $space-2l;
  font-size: 0.75rem;
}

.avatar--size-m {
  width: $space-3l;
  height: $space-3l;
  font-size: 1rem;
}

.avatar--size-l {
  width: $space-4l;
  height: $space-4l;
  font-size: 1.25rem;
}

.avatar__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar__placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
