@use '../../../scss/spaces' as *;
@use '../../../scss/borders' as *;

.ad-pill {
  padding: 0 $space-3s;

  border: 1px solid hsl(var(--color-text-secondary));
  border-radius: $border-radius-s;

  color: hsl(var(--color-text-secondary));

  /*
    intentionally not using a design system font variable

    this font-size is not as accessible
    and it's an intentional decision :-(
  */
  font-size: 9px;
  text-align: center;
  text-transform: uppercase;
}
