@use '../../scss/variables' as *;
@use '../../scss/spaces' as *;

.illustration {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: hsl(var(--color-icon-strong));
  
  svg {
    width: 100%;
    height: 100%;
    display: block;
  }
  
  &--loading,
  &--error {
    min-width: 80px;
    min-height: 80px;
    background-color: hsl(var(--color-background-secondary));
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &__fallback {
    font-size: $font-s;
    color: hsl(var(--color-text-secondary));
  }
}

