@use '../../../scss/variables' as *;
@use '../../../scss/spaces' as *;
@use '../../../scss/typography' as *;
@use '../../../scss/colors' as *;
@use '../../../scss/borders' as *;

.badge {
  display: inline-flex;
  align-items: center;
  height: $space-l;
  padding-right: $space-1s;
  padding-left: $space-1s;

  border-radius: $border-radius-full;

  color: hsl(var(--color-text-inverse-primary));
  font-size: $font-s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: $font-weight-600;

  user-select: none;
}

.badge--variant-featured {
  background-color: hsl(var(--color-background-featured-static));

  color: hsl(var(--color-text-static-dark));

}

.badge--variant-neutral {
  background-color: hsl(var(--color-background-inverse-primary));
}

.badge--variant-accent-yellow {
  background: $n-yellow-200;

  color: $c-gray-90;
}
