// Import SCSS variables
@use '../scss/variables' as *;
@use '../scss/spaces' as *;
@use '../scss/borders' as *;
@use '../scss/colors' as *;
@use '../scss/typography' as *;
@use '../scss/elevations' as *;
@use '../scss/animations' as *;

// Ecosia theme variables (based on global/_themes.scss)
:root,
.light {
  // Brand colors
  --color-brand-primary: #{$c-gray-70};
  --color-brand-secondary: #{$c-dark-green-50};
  --color-brand-featured: #{$n-grellow-100};
  
  // Button colors
  --color-button-background-primary: #{$c-gray-70};
  --color-button-background-primary-active: #{$c-gray-50};
  --color-button-background-primary-hover: #{$c-gray-60};
  --color-button-background-secondary: #{$white};
  --color-button-background-secondary-active: #{$c-gray-40};
  --color-button-background-secondary-hover: #{$c-gray-30};
  --color-button-background-transparent-hover: #{$transparent-gray-16};
  --color-button-background-transparent-active: #{$transparent-gray-24};
  --color-button-content-primary: #{$white};
  --color-button-content-secondary: #{$c-gray-70};
  
  // Background colors
  --color-background-primary: #{$white};
  --color-background-secondary: #{$c-gray-10};
  --color-background-inverse-primary: #{$c-gray-90};
  --color-background-featured-static: #{$n-grellow-100};
  --color-background-brand-secondary: #{$c-dark-green-50};
  --color-background-elevation-1: #{$white};
  --color-background-elevation-2: #{$white};
  
  // Text colors
  --color-text-primary: #{$c-gray-70};
  --color-text-secondary: #{$c-gray-50};
  --color-text-inverse-primary: #{$white};
  --color-text-static-dark: #{$c-gray-90};
  
  // Border colors
  --color-decorative-border-1: #{$c-gray-30};
  
  // Form colors
  --color-form-border-default: #{$c-gray-40};
  --color-form-border-hover: #{$c-gray-50};
  --color-form-border-primary-active: #{$c-gray-70};
  
  // Interactive colors
  --color-focused: #{$c-blue-40};
  --color-highlighter: #{$transparent-grellow-32};
  
  // Surface colors
  --color-surface-brand-secondary: #{$c-dark-green-50};
  
  // Elevation shadows
  --color-elevation-layer-1: #{rgba($c-gray-90, 18%)};
  --color-elevation-layer-2: #{rgba($c-gray-90, 6%)};
}

// Basic resets and global styles
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $family;
  font-size: $font-l;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
  border-radius: 4px;
  outline: none;
  
  &:focus-visible {
    outline: solid 2px var(--color-focused);
    outline-offset: 2px;
  }
}

button {
  font-family: inherit;
  cursor: pointer;
}

// Utility classes
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $space-l;
}

