@use 'opacity' as *;

$black: #000000;
$white: #ffffff;
$transparent-white-0: rgba($white, 0);
$transparent-white-16: rgb(222 222 217 / 16%);
$transparent-white-32: rgb(222 222 217 / 32%);
$transparent-white-50: rgb(222 222 217 / 50%);
$transparent-white-70: rgba($white, $opacity-l);

// Original Rebrand Color Sytem
// TODO: Move these to the new Flora Color System version

$c-gray-10: #f8f8f6;
$c-gray-20: #f0f0eb;
$c-gray-30: #deded9;
$c-gray-40: #bebeb9;
$c-gray-50: #6c6c6c;
$c-gray-60: #4c4c4c;
$c-gray-70: #333333;
$c-gray-80: #252525;
$c-gray-90: #1a1a1a;
$transparent-gray-16: rgba($c-gray-70, 0.16);
$transparent-gray-24: rgba($c-gray-70, 0.24);
$transparent-gray-50: rgba($c-gray-70, 0.5);
$transparent-overlay: rgba($c-gray-60, 0.5);
$transparent-gray-90-0: rgba($c-gray-90, 0);

$c-green-10: #cff2d0;
$c-green-20: #afe9b0;
$c-green-30: #5dd25e;
$c-green-40: #a4d24f;
$c-green-50: #008009;
$c-green-70: #006600;
$transparent-green-32: rgba($c-green-30, 0.32);

$c-dark-green-30: #668a7a;
$c-dark-green-50: #275243;
$c-dark-green-70: #09281d;
$c-dark-green-80: #18362B;

$c-red-20: #ffe8da;
$c-red-30: #ff8a8c;
$c-red-40: #fd4256;
$c-red-50: #af1731;

$c-blue-30: #96d6f8;
$c-blue-40: #0094c7;
$c-blue-70: #004687;

// ## Ecosia Flora Color System
// https://www.figma.com/design/8T2rTBVwynJKSdY6MQo5PQ/%E2%9A%9B%EF%B8%8F--Foundations?node-id=2520-6912&p=f&t=lmvYbzREpUpoT8GE-0

// ### Ecosia Grellow

$n-grellow-100: #D7EB80;
$n-grellow-200: #BBCF65;
$n-grellow-300: #A1B353;
$n-grellow-400: #889745;
$n-grellow-500: #6F7D38;
$n-grellow-600: #58632B;
$n-grellow-700: #424A1E;
$n-grellow-800: #2D3315;
$n-grellow-900: #1B1D0F;
$transparent-grellow-32: rgba($n-grellow-100, 0.32);

// ### Ecosia Green

$n-green-50: #DDF9D4;
$n-green-100: #A8F598;
$n-green-200: #75DD65;
$n-green-300: #48C33E;
$n-green-400: #26A723;
$n-green-500: #008009;
$n-green-600: #006E07;
$n-green-700: #005304;
$n-green-800: #043902;
$n-green-900: #0B2000;

// ### Ecosia Light Green

$n-light-green-50: #E1F9B0;
$n-light-green-100: #C3F16E;
$n-light-green-200: #A4D24F;
$n-light-green-300: #8EB842;
$n-light-green-400: #789C36;
$n-light-green-500: #62802B;
$n-light-green-600: #4D6620;
$n-light-green-700: #3A4D16;
$n-light-green-800: #283410;
$n-light-green-900: #181D0C;

// ## Ecosia Dark Green

$n-dark-green-50: #D7F8EB;
$n-dark-green-100: #9AF5D3;
$n-dark-green-200: #75D9B6;
$n-dark-green-300: #61BC9C;
$n-dark-green-400: #519F84;
$n-dark-green-500: #42836C;
$n-dark-green-600: #336856;
$n-dark-green-700: #275243;
$n-dark-green-800: #18362B;
$n-dark-green-900: #0E1F19;

// ## Ecosia Red

$n-red-50: #FBEDEC;
$n-red-100: #FBDBD9;
$n-red-200: #FCB3AF;
$n-red-300: #FD8786;
$n-red-400: #FD4256;
$n-red-500: #E71140;
$n-red-600: #B90A32;
$n-red-700: #8E0624;
$n-red-800: #630717;
$n-red-900: #3B0708;

// ## Ecosia Claret

$n-claret-50: #F6EFF0;
$n-claret-100: #EFDEE1;
$n-claret-200: #E3BCC3;
$n-claret-300: #D89AA6;
$n-claret-400: #CC768A;
$n-claret-500: #B35A70;
$n-claret-600: #8F4759;
$n-claret-700: #632f3C;
$n-claret-800: #4C232D;
$n-claret-900: #2C141A;

// ## Ecosia Peach

$n-peach-50: #FCEEE7;
$n-peach-100: #FCDBCC;
$n-peach-200: #FFAF87;
$n-peach-300: #F98D56;
$n-peach-400: #E36C2F;
$n-peach-500: #C25419;
$n-peach-600: #9E400D;
$n-peach-700: #77300A;
$n-peach-800: #541F01;
$n-peach-900: #2D1504;

// ## Ecosia Yellow

$n-yellow-50: #FCEFD8;
$n-yellow-100: #FDDEA4;
$n-yellow-200: #F7BC00;
$n-yellow-300: #D5A201;
$n-yellow-400: #B58901;
$n-yellow-500: #957000;
$n-yellow-600: #775900;
$n-yellow-700: #5A4200;
$n-yellow-800: #3E2D00;
$n-yellow-900: #231A04;

// ## Ecosia Blue

$n-blue-50: #E6F3FC;
$n-blue-100: #C9E7FB;
$n-blue-200: #83D1FD;
$n-blue-300: #49B8ED;
$n-blue-400: #0094C7;
$n-blue-500: #0081AF;
$n-blue-600: #00678B;
$n-blue-700: #004D6A;
$n-blue-800: #03354A;
$n-blue-900: #051E2B;
$n-blue-search: #004687;

// ## Externals

$tripadvisor-rating: #00aa6c;
$tripadvisor-rating-dark: #84e9bd;

// taken from https://backpack.github.io/guidelines/colour#dark-mode-palette
$skyscanner-sky-blue: #0770e3;
$skyscanner-sky-blue-dark-mode: #9dc0f2;
$omio-blue: #132968;
$omio-white: #ffffff;