$elevation-0: none;
$elevation-1: 0 1px 2px var(--color-elevation-layer-1), 0 0 8px var(--color-elevation-layer-2);
// currently only used in the Modal as a special case for the footer
$elevation-1-inverted: 0 -1px 2px var(--color-elevation-layer-1), 0 -1px 8px var(--color-elevation-layer-2);
$elevation-2: 0 2px 4px 0 var(--color-elevation-layer-1), 0 0 12px 0 var(--color-elevation-layer-2);
// currently only used in the Tooltip as a special case, see Flora docs
$elevation-2-inverted: 0 -2px 4px 0 var(--color-elevation-layer-1), 0 0 12px 0 var(--color-elevation-layer-2);
$elevation-3: 0 4px 8px 0 var(--color-elevation-layer-1), 0 0 16px 0 var(--color-elevation-layer-2);

$elevations: (
  0: $elevation-0,
  1: $elevation-1,
  1-inverted: $elevation-1-inverted,
  2: $elevation-2,
  2-inverted: $elevation-2-inverted,
  3: $elevation-3,
);
