@use "sass:map";
@use 'variables/animations' as *;
@use 'variables/borders' as *;
@use 'variables/elevations' as *;
@use 'variables/screen' as *;

@mixin class-opacity-transition($class: 'visible', $duration: $timing-l) {
  animation: e-fade-in $duration $easing both paused;

  &.#{$class} {
    animation-play-state: running;
  }
}

@mixin breakpoint($name) {
  @media only screen and (min-width: map.get($screen-sizes, $name)) {
    @content;
  }
}

@mixin mobile {
  @include breakpoint('mobile') {
    @content;
  }
}

@mixin mobile-l {
  @include breakpoint('mobile-l') {
    @content;
  }
}

@mixin tablet {
  @include breakpoint('tablet') {
    @content;
  }
}

@mixin desktop {
  @include breakpoint('desktop') {
    @content;
  }
}

@mixin desktop-l {
  @include breakpoint('desktop-l') {
    @content;
  }
}

@mixin desktop-1l {
  @include breakpoint('desktop-1l') {
    @content;
  }
}

@mixin desktop-2l {
  @include breakpoint('desktop-2l') {
    @content;
  }
}

// max-width media query mixins - only use if absolutely necessary
@mixin mobile-down {
  @media only screen and (max-width: ($screen-mobile - 1)) {
    @content;
  }
}

@mixin mobile-l-down {
  @media only screen and (max-width: ($screen-mobile-l - 1)) {
    @content;
  }
}

@mixin tablet-down {
  @media only screen and (max-width: ($screen-tablet - 1)) {
    @content;
  }
}

@mixin desktop-down {
  @media only screen and (max-width: ($screen-desktop - 1)) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: $screen-retina) {
    @content;
  }
}

@mixin ie {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

@mixin firefox {
  @supports (-moz-box-pack: initial) {
    @content;
  }
}

@mixin all-interactions {
  &:active,
  &:focus,
  &:hover {
    @content;
  }
}

@mixin line-clamp($lines) {
  display: -webkit-box;
  overflow: hidden;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  line-clamp: $lines;
}

@mixin flexbox-divider($count, $count-breakpoints: null) {
  display: none;
  width: 100%;
  margin: 0;

  border: 0;

  &:nth-of-type(#{$count}n) {
    display: block;
  }

  @if $count-breakpoints {
    @each $breakpoint, $count in $count-breakpoints {
      @include breakpoint($breakpoint) {
        &:nth-of-type(1n) {
          display: none;
        }

        &:nth-of-type(#{$count}n) {
          display: block;
        }
      }
    }
  }
}

@mixin elevation($level) {
  box-shadow: map.get($elevations, $level);
}

@mixin divider($position, $reset: false) {
  $property: border-#{$position};

  @if $reset {
    #{$property}: 0;
  } @else {
    #{$property}: solid $border-width var(--color-decorative-border-1);
  }
}

/*
  In general we don't want to use `!important` since
  it makes overwriting styles impossible.

  In this case we really want to make sure that all animations and
  transitions are disabled for users which prefer reduced motions.
*/
@mixin disable-transitions {
  transition-duration: 0s !important;
  transition-delay: 0s !important;
}

@mixin disable-animations {
  animation-duration: 1ms !important;
  animation-delay: -1ms !important;
  animation-iteration-count: 1 !important;
}

@mixin skeleton-placeholder {
  // Half the animation is delay between repetitions
  animation: e-shimmer calc(var(--shimmer-time) * 2) ease-out infinite;

  background: var(--color-decorative-border-1);
  background-image: linear-gradient(
    90deg,
    transparent,
    var(--color-button-background-secondary-active),
    transparent,
  );
  background-repeat: repeat-y;
}
