@use '../../../scss/variables' as *;
@use '../../../scss/spaces' as *;
@use '../../../scss/typography' as *;
@use '../../../scss/colors' as *;
@use '../../../scss/borders' as *;
@use '../../../scss/animations' as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: $space-1s;
  
  border: none;
  border-radius: 9999px;
  
  font-family: $family;
  font-weight: $font-weight-600;
  line-height: $line-height-s;
  text-align: center;
  white-space: nowrap;
  
  cursor: pointer;
  transition: background-color $timing-1s $easing, 
              color $timing-1s $easing,
              border-color $timing-1s $easing,
              transform $timing-1s $easing;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  &:focus-visible {
    outline: solid 2px hsl(var(--color-focused));
    outline-offset: 2px;
  }
  
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}

// Size variants
.button--size-sm {
  height: $space-2l;
  padding: 0 $space-s;
  font-size: $font-s;
}

.button--size-default {
  height: $space-3l;
  padding: 0 $space-l;
  font-size: $font-m;
}

.button--size-lg {
  height: $space-4l;
  padding: 0 $space-1l;
  font-size: $font-l;
}

// Variant styles
.button--variant-primary {
  background-color: hsl(var(--color-button-background-primary));
  color: hsl(var(--color-button-content-primary));
  
  &:hover:not(:disabled) {
    background-color: hsl(var(--color-button-background-primary-hover));
  }
  
  &:active:not(:disabled) {
    background-color: hsl(var(--color-button-background-primary-active));
  }
}

.button--variant-secondary {
  background-color: hsl(var(--color-button-background-secondary));
  color: hsl(var(--color-button-content-secondary));
  border: none;
  
  &:hover:not(:disabled) {
    background-color: hsl(var(--color-button-background-secondary-hover));
  }
  
  &:active:not(:disabled) {
    background-color: hsl(var(--color-button-background-secondary-active));
  }
}

.button--variant-outline {
  background-color: transparent;
  color: hsl(var(--color-button-content-secondary));
  border: 2px solid hsl(var(--color-form-border-default));
  
  &:hover:not(:disabled) {
    background-color: hsl(var(--color-button-background-transparent-hover));
    border-color: hsl(var(--color-form-border-hover));
  }
  
  &:active:not(:disabled) {
    background-color: hsl(var(--color-button-background-transparent-active));
    border-color: hsl(var(--color-form-border-primary-active));
  }
}

.button--variant-ghost {
  background-color: transparent;
  color: hsl(var(--color-text-primary));
  
  &:hover:not(:disabled) {
    background-color: hsl(var(--color-button-background-transparent-hover));
  }
  
  &:active:not(:disabled) {
    background-color: hsl(var(--color-button-background-transparent-active));
  }
}

.button--variant-destructive {
  background-color: hsl(var(--color-button-background-negative, #{$c-red-50}));
  color: hsl(var(--color-button-content-primary));
  
  &:hover:not(:disabled) {
    background-color: hsl(var(--color-button-background-negative-hover, #{$c-red-40}));
  }
  
  &:active:not(:disabled) {
    background-color: hsl(var(--color-button-background-negative-active, #{$c-red-30}));
  }
}
